Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
install-sh
missing
src/Makefile
src/Makefile.in
stamp-h1
**/*.o
**/*.xml
src/dradio
src/cscope.out
src/tags

